[submodule "sqlitebench"]
	path = sqlitebench
	url = https://github.com/ToolmanP/sqlite-bench-dockerized.git
	branch = runpv
[submodule "blogbench"]
	path = blogbench
	url = https://github.com/ToolmanP/blogbench-dockerized.git
	branch = runpv
[submodule "parsec"]
	path = parsec
	url = https://github.com/ToolmanP/parsec-dockerized.git
	branch = runpv
