[submodule "sqlitebench"]
	path = sqlitebench
	url = https://github.com/ToolmanP/sqlite-bench-dockerized.git
	branch = runpv
[submodule "blogbench"]
	path = blogbench
	url = https://github.com/ToolmanP/blogbench-dockerized.git
	branch = runpv
[submodule "parsec"]
	path = parsec
	url = https://github.com/ToolmanP/parsec-dockerized.git
	branch = runpv
[submodule "unixbench"]
	path = unixbench
	url = https://github.com/ToolmanP/UnixBench-dockerized.git
	branch = runpv
[submodule "gups"]
	path = gups
	url = https://github.com/ToolmanP/gups-dockerized.git
	branch = runpv
[submodule "will-it-scale"]
	path = will-it-scale
	url = https://github.com/ToolmanP/will-it-scale-dockerized.git
	branch = runpv
[submodule "lmbench"]
	path = lmbench
	url = https://github.com/ToolmanP/lmbench-dockerized.git
	branch = runpv
[submodule "vmitosis"]
	path = vmitosis
	url = https://github.com/ToolmanP/vmitosis-dockerized.git
	branch = runpv
